@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  list-style: none;
  scroll-behavior: smooth;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #262626;
}

body {
  background-color: #fafafa;
}

.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: 40px;
  margin: 0 2.5rem;
}

.left-container {
  grid-column: span 7 / span 7;
  margin: 8rem 0 3rem 0;
}

.right-container {
  grid-column: span 5 / span 5;
  grid-column-start: 8;
  margin: 8rem 0 3rem 0;
}

header {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2.5rem;
  border-bottom: solid 1px #e5e5e5;
  position: fixed;
  background-color: #fafafa;
  z-index: 99;
}

header p {
  font-size: 16px;
  font-weight: bold;
}

header button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  background-color: #fafafa;
  border-radius: 8px;
  border: solid 1px #e5e5e5;
  box-shadow: 0px 2px 2px 0px #26262629;
  cursor: pointer;
}

header button:hover {
  opacity: 0.6;
}

.left {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.title {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4px;
}

.title h1 {
  font-size: 24px;
  font-weight: bold;
}

.title p {
  font-size: 16px;
  font-weight: 600;
}

article {
  padding: 0.7rem 0;
  border: 1px solid #d4d4d4;
  margin-bottom: 1.5rem;
  border-radius: 16px;
  transition: all 0.5s ease;
  position: relative;
  overflow: hidden;
}

article:hover {
  box-shadow: 0px 0px 8px 0px #737dd369;
}

article:last-child {
  margin-bottom: 0;
}

article label {
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
  padding: 1.5rem 2rem;
}

article span {
  font-weight: 900;
  font-size: 24px;
}

article span::before {
  content: "add";
  font-family: "Material Symbols Outlined", sans-serif;
}

article label h2 {
  font-size: 120px;
  font-weight: 900;
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #262626;
  position: absolute;
  right: -16px;
  bottom: -48px;
  opacity: 0.15;
  user-select: none;
}

article label p {
  font-size: 18px;
  font-weight: bold;
}

.heuristics-list input[type="checkbox"] {
  appearance: none;
  position: fixed;
  top: -100vh;
  left: -100vh;
}

.heuristics-list input[type="checkbox"] ~ div {
  max-height: 0;
  opacity: 0;
  padding-top: 0;
  line-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease, padding 0.5s ease, line-height 0.5s ease;
}

.heuristics-list input[type="checkbox"]:checked ~ div {
  max-height: 400px;
  opacity: 1;
  line-height: 1.8rem;
  margin: 0 2rem 1.5rem 2rem;
}

.heuristics-list input[type="checkbox"]:checked ~ label span::before {
  content: "remove";
}

.right {
  height: calc(100vh - 150px);
  padding: 1.5rem;
  border: solid 1px #d4d4d4;
  border-radius: 16px;
  gap: 24px;
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 8rem;
}

.points {
  height: 100%;
  max-height: 106px;
  min-height: 106px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #ac2e2e;
  padding: 1rem 2rem;
  border-radius: 16px;
  gap: 1rem;
  position: relative;
  box-shadow: 0px 4px 4px 0px #00000026;
  overflow: hidden;
  transition: background-color 0.5s ease;
}

.points .number {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px;
  border-radius: 8px;
  width: 100px;
  background-color: #fafafa33;
  font-size: 40px;
  font-weight: bold;
  color: #fafafa;
}

.points .quote {
  font-size: 16px;
  color: #fafafa;
  font-weight: bold;
  background-color: transparent;
}

.points .icon {
  width: 146px;
  height: 146px;
  position: absolute;
  background-color: transparent;
  right: 0px;
}

.checklist-wrapper {
  position: relative;
  height: fit-content;
  overflow: hidden;
}

.checklist-wrapper::before,
.checklist-wrapper::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  height: 30px;
  pointer-events: none;
  z-index: 2;
}

.checklist-wrapper::before {
  top: 0;
  background: linear-gradient(to bottom, #fafafa, transparent);
}

.checklist-wrapper::after {
  bottom: 0;
  background: linear-gradient(to top, #fafafa, transparent);
}

.dark-mode .checklist-wrapper::before {
  background: linear-gradient(to bottom, #0a0a0a, transparent);
}

.dark-mode .checklist-wrapper::after {
  background: linear-gradient(to top, #0a0a0a, transparent);
}

.checklist-wrapper.at-top::before {
  opacity: 0;
}
.checklist-wrapper.at-bottom::after {
  opacity: 0;
}


.checklist {
  padding: 0 8px;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  height: 100%;
  overflow-y: auto;
  padding: 1rem;
}

.checklist-item {
  display: flex;
  gap: 1rem;
  align-items: center;
  width: fit-content;
  cursor: pointer;
}

.checklist-item label {
  cursor: pointer;
}

.checklist-item input[type="checkbox"] {
  appearance: none;
  position: relative;
  min-width: 16px;
  min-height: 16px;
  border: 0.125rem solid #262626;
  border-radius: 0.25rem;
  cursor: pointer;
}

.checklist-item input[type="checkbox"]::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0.6rem;
  height: 0.6rem;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  transform: translate(-50%, -50%) scale(0);
  transform-origin: center;
  transition: 0.125s transform ease-in-out;
  box-shadow: inset 1rem 1rem #fafafa;
}

.checklist-item input[type="checkbox"]:checked {
  background-color: #262626;
  border-color: #262626;
}

.checklist-item input[type="checkbox"]:checked::before {
  transform: translate(-50%, -50%) scale(1);
}

.checklist-item input[type="checkbox"]:hover {
  border-color: #262626;
  opacity: 0.8;
}

.checklist-item input[type="checkbox"]:hover + label {
  opacity: 0.8;
}

footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 4rem;
  border-top: solid 1px #e5e5e5;
  gap: 2rem;
}

footer p {
  font-style: italic;
  font-weight: bold;
  text-align: center;
}

footer div {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

footer div p {
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
}

/* DARK MODE */
.dark-mode {
  background-color: #0a0a0a;
}

.dark-mode * {
  color: #e5e5e5;
}

.dark-mode header,
.dark-mode .container-box,
.dark-mode .left-container,
.dark-mode .right-container,
.dark-mode footer {
  background-color: #0a0a0a;
  border-color: #262626;
}

.dark-mode header button {
  background-color: #0a0a0a;
  border-color: #262626;
  box-shadow: 0px 2px 2px 0px #e5e5e529;
}

.dark-mode .points {
  box-shadow: 0px 2px 2px 0px #e5e5e529;
}

.dark-mode article,
.dark-mode .right {
  border-color: #373737;
}

.dark-mode article label h2 {
  color: transparent;
  -webkit-text-stroke-color: #535353;
}

.dark-mode article:hover {
  box-shadow: 0px 0px 8px 0px #3f457769;
}

.dark-mode .checklist-item input[type="checkbox"] {
  border-color: #e5e5e5;
}

.dark-mode .checklist-item input[type="checkbox"]::before {
  box-shadow: inset 1rem 1rem #0a0a0a;
}

.dark-mode .checklist-item input[type="checkbox"]:checked {
  background-color: #e5e5e5;
  border-color: #e5e5e5;
}

.dark-mode .checklist-item input[type="checkbox"]:hover {
  border-color: #e5e5e5;
  opacity: 0.8;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f0f0f0;
  border-radius: 0px;
}

.dark-mode::-webkit-scrollbar-track {
  background: #161616;
}

.checklist::-webkit-scrollbar {
  width: 6px; 
}

.checklist::-webkit-scrollbar-track {
  background: #f0f0f0;
  border-radius: 10px;
}

.checklist::-webkit-scrollbar-thumb, ::-webkit-scrollbar-thumb {
  background-color: #a0a0a0;
  border-radius: 10px;
  border: 1px solid #f0f0f0;
}

.checklist::-webkit-scrollbar-thumb:hover, ::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.dark-mode .checklist::-webkit-scrollbar-track {
  background: #161616;
  border-radius: 10px;
}

.dark-mode .checklist::-webkit-scrollbar-thumb, .dark-mode::-webkit-scrollbar-thumb {
  background-color: #353535;
  border-radius: 10px;
  border: 1px solid #2a2a2a;
}

.dark-mode .checklist::-webkit-scrollbar-thumb:hover, .dark-mode::-webkit-scrollbar-thumb:hover {
  background-color: #565656;
}

@media screen and (max-width: 1000px) {
  .left-container {
    grid-column: span 6 / span 6;
  }
  
  .right-container {
    grid-column: span 6 / span 6;
    grid-column-start: 7;
  }
}

@media screen and (max-width: 700px) {
  .container {
    display: flex;
    flex-direction: column;
  }

  .left-container {
    margin: 8rem 0 0 0;
  }

  .right-container {
    margin: 0 0 3rem 0;
  }

  footer div {
    width: 60%;
  }
}